.SearchInput {
  position: relative;
  box-shadow: 0 1px 6px 0 #20212447;
  height: 44px;
  border-radius: 22px;
  padding: 1px 52px;
}

.SearchInput input {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  outline-width: 0;
  font-size: 16px;
  color: #000000ff;
}

.SearchIcon {
  position: absolute; 
  top: 12px;
  left: 20px;
  width: 20px;
  height: 20px;
  color: #5f6368ff;
}